html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

form {
  width: 40%;
  margin-left: 30%;
  input, select {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 8px;
  }
}

input[type="submit"], button{
  background-color: #258cfb;
  color: #fff;
}
h2,p{
  text-align: center;
  margin-bottom: 20px;
}

.form-group{
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}