@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="justify-content-center align-items-center" style="height: 50%; text-align: center; margin-top:10%;">
    <div>
        <h1 class="h5">Bienvenue à l'Université de Fianarantsoa</h1>
        <p style="font-size: 0.9rem;">Inscrivez-vous dès maintenant pour façonner votre avenir avec nous.</p>
        <blockquote class="blockquote">
            <p class="mb-0" style="font-size: 0.8rem;">"L'éducation est l'arme la plus puissante pour changer le monde." - Nelson Mandela</p>
        </blockquote>
    </div>
</div>
