@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="justify-content-center align-items-center" style="height: 50%; text-align: center; margin-top:10%;">
    <div>
        <h1 class="h4 text-primary">Bienvenue à l'Université de Fianarantsoa</h1>
        <p class="text-muted" style="font-size: 1rem;">Inscrivez-vous dès maintenant pour façonner votre avenir avec nous.</p>
        <blockquote class="blockquote">
            <p class="mb-0 font-italic" style="font-size: 0.9rem;">"L'éducation est l'arme la plus puissante pour changer le monde." - Nelson Mandela</p>
        </blockquote>
        <a href="/Inscription" class="btn btn-primary mt-3">Commencer l'inscription</a>
    </div>
</div>
