@page "/Merci"
@model MerciModel;

@{
    string[] message = TempData["Message"]?.ToString()?.Split(" : ") ?? new string[] { "Erreur", "Aucun message disponible." };
    var statut = message[0];
    var mess = message[1];
}

<div class="message-container">
    <h1>@statut</h1>
    <p>@mess</p>
    <a class="btn btn-primary" href="/">Retour à la page d'acceuil</a>
</div>

<style>
    using Microsoft.AspNetCore.Mvc.RazorPages;
    .message-container {
        text-align: center;
        margin-top: 50px;
    }
    .btn {
        margin-top: 20px;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>