@page "/Merci"
@model MerciModel;

@{
    string[] message = TempData["Message"]?.ToString()?.Split(" : ") ?? new string[] { "Erreur", "Aucun message disponible." };
    var statut = message[0];
    var mess = message[1];
}

<div class="message-container">
    <h1>@statut</h1>
    <p>@mess</p>
    <a class="btn btn-primary" href="/">Retour à la page d'acceuil</a>
</div>

<style>
    using Microsoft.AspNetCore.Mvc.RazorPages;
    .message-container {
        text-align: center;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>